//h1
@font-face {
    font-family: 'h1-font';
    src: url('typography/Teko-Regular.ttf') format("truetype");
}
h1 {
    font-family: 'h1-font';
}

//h2
@font-face {
    font-family: 'h2-font';
    src: url('typography/Teko-Regular.ttf') format("truetype");
}
h2 {
    font-family: 'h2-font';
}

//p
@font-face {
    font-family: 'p-font';
    src: url('typography/Lato-Light.ttf') format("truetype");
}
p {
    font-family: 'p-font';
}
