.about_us {
    .images_us {
        margin-bottom: 30px;
        img {
            width: 100%;
        }
        .person_info {
            position: absolute;
            bottom: 20px;
            left: 30px;
            font-weight: bold;
            color: white;
            h2 {
                font-size: 2em;
            }
        }
    }
}
