.infoline {
  // width: 250px;
}


.infolines {
  margin: 0 auto;
  width: 250px;
}

@media screen and (min-width: 990px) {
    .infoline {
      width: 300px;
      margin: 0 auto;
    }
}

.contitle {
    margin-bottom: -30px;
    margin-top: -50px;
}

.addresscell {
    width: 275px;
}

.infolines tr td {
  padding: 3px;
}

.maps {
    text-align: center;

}

.mapsdiv {
    width: 350px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
