.email {
    margin-bottom: 20px;
}

.phone {
    margin-bottom: 20px;
    margin-left: 2px;
}

.adres {
    margin-bottom: 20px;
    margin-left: 6px;    
}

.infolines {
  margin: 0 auto;
  width: 350px;
  font-size: 1.5em;
}

@media screen and (min-width: 990px) {
    .infoline {
      width: 300px;
      margin: 0 auto;
    }
}

.addresscell {
    width: 275px;
}

.infolines tr td {
  padding: 3px;
}

.maps {
    text-align: center;
    width: 100%!important;
    height: 400px;
    padding-bottom: 30px;
}

.mapsdiv {
    display: block;
    margin-top: 15px;
}
