.portfolio {
    .image_work {
        margin-bottom: 30px;



        img, .portinfo {
            width: 100%;
            height: 100%;
        }

        // .portinfo {
        //     padding: 5px;
        //     opacity: 0;
        //     position: absolute;
        //     margin-top: 6%;
        //     font-size: 1.25em;
        //     top:0px;
        //     left: 0px;
        //     display: block;
        //     text-align: center;
        //     background-color: transparent;
        //     -webkit-transition: background-color 1s;
        //     @media screen and (max-width: 767px){
        //         font-size: 2em;
        //     }
        //     &:hover {
        //         opacity: 0;
        //         background-color: white;
        //         -webkit-transition: background-color 1s;
        //     }
        // }

        .work_info {
            text-align: center;
            font-weight: bold;
            margin-bottom: 10px;
            h2 {
                font-size: 1.5em;
                color: #575756;
            }
        }
    }
}
