.whatwedo {
    padding-bottom: 30px;
    h2 {
        color: white;
        font-size: 2em;
        text-align: center;
        padding-bottom: .5em;
        padding-top: .5em;
    }
    p {
        color: white;
        text-align: left;
        margin-bottom: 30px;
        font-size: 1.2em;
        width: 70%;
        margin: 0 auto;
    }
    img {
        width: 15%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
    .textwhat {
        font-size: 1.2em;
    }

.secondrow {
    margin-top: 3.5%;
}
