.footersection {
    background-color: white;
    text-align: center;
    padding: 15px;
    height: 130px;
    width: 100%;
    display: table;
}

.footerp {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.3em;
}
