@keyframes flashingbg {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

.bgflash {
  animation-name: flashingbg;
  animation-duration: 4s;
}
