.navbar {
  margin-bottom: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  border-radius: 0px;
  border: 0;
  z-index: 10;
  padding: 3px;
}

@media screen and (min-width: 767px) {
  .logo {
    content: url("../images/logo2.png");
  }
}

.navbar-brand {
  color: black !important;
}

.hoverpointer:hover {
  cursor: pointer;
}

.nav li a {
  color: black !important;
}

.logo {
  height: 50px;
  margin-top: -15px;
}

.navbar-toggle {
  background-color: white;
  border: 1px solid black !important;
  span {
    border: 1px solid black !important;
  }
}

.navbar-collapse {
  border-top: 0px;
  ul {
    border-top: 0px;
  }
}

.ontop {
  position: fixed;
  top:0px;
  left: 0px;
  width: 100%;
  height: 57px;
  z-index: 10;
  @include opacity-fade(.35s);
}

@media screen and (max-width: 767px) {
  .ontop {
    opacity:0;
  }
  .navbar {
    background-color: white;
  }
}


//both classes below are for
//changing opacity of the menu depending on scroll position

.fullbg {
  opacity: 1;
  background-color: white;
  border-bottom: 1px solid #E2E2E2;
}

.opbg {
  opacity: 0.5;
  background-color: white;
}

.nobg {
  background-color: transparent;
}
