//Style for section titles with white and blue backgrounds
.title_white {
    h1 {
        font-size: 4em;
        text-align: center;
        font-family: "h1-font";
        margin-bottom: -15px;
        color: #575756;
    }
    hr {
        border: 0;
        border-bottom: 3px solid #6FC6CA;
        background: #999;
        width: 180px;
        margin-bottom: 60px;
    }
}

.title_blue {
    h1 {
        font-size: 4em;
        text-align: center;
        font-family: "h1-font";
        margin-bottom: -15px;
        color: #575756;
    }
    hr {
        border: 0;
        border-bottom: 3px solid white;
        background: #999;
        width: 180px;
        margin-bottom: 60px;
    }
}
