.backtotop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
}

.fa-sort-up {
    padding: 5px !important;
    color: black;
    font-size: 1.8em;
    margin-left: -1em;
    border: 1px solid black;
    border-radius: 0px;
    line-height: 18px;
    @media screen and (max-width: 767px){
        & {
            font-size: 1.9em;
        }
    }
    &:hover {
        color: #535353;
        border: 1px solid #535353;
    }
}



.transparant {
    opacity: 0;
}

.visible {
    opacity: 1;
}
