.backtotop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
    //border: 1px solid black;
    height: 25px;
    padding: 6px;
}

.fa-sort-up {
    color: #252525;
    font-size: 2.5em;
    @media screen and (max-width: 767px){
        & {
            // font-size: 3em;
        }
    }
    &:hover {
        color: #535353;
    }
}



.transparant {
    opacity: 0;
}

.visible {
    opacity: 1;
}
